body {
    background: #dcafa9f8;
}

#tec2 
   img{ text-align: center;
    width: 50%;
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
   text-align: center;
}

#missão {
    font-size: 30px;
}

em strong {
    color: rgb(110, 81, 81);
}

.itens {
    font-style: italic;
}

#videotec {
    width: 50%;
    height: 80%;
}

ul {
    text-align: center;
}